
<div class="row  border-bottom white-bg page-heading" ng-init="vm.getCanchas();">
    <div class="row">
        <div class="col-md-4">
            <h2>Rerservar</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="app.home">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Reservar</strong>
                </li>
            </ol>
        </div>
        <div class="col-md-2" style="text-align: right">
            <div class="spacer" style="height:10px;"></div>
  
           <button type="button" class="btn btn-primary" ng-click="vm.moveToFecha('-')"><i class="fa fa-chevron-left"></i></button> 
        </div>
        <div class="col-md-4">
              <div class="spacer" style="height:10px;"></div>
          
            <div class="input-group">
                <span class="input-group-btn"> 
                    <button type="button" class="btn btn-primary"><i class="fa fa-calendar"></i></button> 
                </span>
                <input type="date" id="fechaReserva" class="form-control" ng-model="vm.fecha" ng-change="vm.showAgendaDiaByCancha()">
                <span class="input-group-btn"> 
                    <button type="button" class="btn btn-primary">  {{vm.diaSemana}}</button> 
                </span>
            </div>
        </div>
        <div class="col-md-2">
           <div class="spacer" style="height:10px;"></div>
         
            <button type="button" class="btn btn-primary" ng-click="vm.moveToFecha('+')"><i class="fa fa-chevron-right"></i></button> 
        </div>
    </div>
    <hr class="hr-line-dashed" style="padding: 0;margin: 0;margin-top:10px;">
    <div class="wrapper-content" style="padding-top: 0;">
        <div class="row" id="canchas">
            
        </div>
    </div>
    
        <div class="theme-config" style="position: absolute;right: -20px;">
        <div class="theme-config-box show">
            <div class="spin-icon">
                
                <i class="fa fa-cogs fa-spin"></i> 
            </div>
            <div class="skin-settings">
                <div class="title">Reservación  <span class="badge badge-danger">{{vm.RESERVA.length}}</span></div>
                <div class="setings-item" ng-if="vm.RESERVA.length == 0" style="text-align: center;">
                    <i class="fa fa-eye-slash ico-bg"></i>
                    <h4 class="vacio-text">No se han cargado reservas</h4>
                </div>
                <div ng-if="vm.RESERVA.length > 0">
                    <div style="max-height:450px;overflow-y: auto;">
                        <li ng-repeat="item in vm.RESERVA" class="list-group-item">
                             <span class="pull-right badge">{{item.hora}}:00</span>
                            {{item.nombreCancha}}<br>
                            <strong>{{item.diaSemana}}- {{item.fecha}}</strong>
                           
                        </li>
                    </div>
                    <button class="btn btn-primary" style="width: 100%;" onclick="$('#reserva').modal('show')">
                            EFECTUAR RESERVA
                        </button>
                </div>


                
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="reserva" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:90%;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title">Registro de Reserva</h4>
                                            <small>Termina de digilenciar la informacion para registrarla.</small>
                                        </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <table class="table table-striped">
                            <thead>
                                <th>Cancha</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Precio</th>
                                <th>Abono requerido</th>
                                <th>Abono Liquidado</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.RESERVA">
                                    <td>
                                        {{item.nombreCancha}}
                                    </td>
                                    <td>
                                        {{item.fecha}} - {{item.diaSemana}}
                                    </td>
                                    <td>
                                        {{item.hora}}:00
                                    </td>
                                     <td width="20%"><input type="number"  class="form-control" id="precio{{$index}}"  onchange="format(this)" ></td>
                                     <td width="20%"><input type="number"  value="0" class="form-control" id="abonoRequerido{{$index}}"  onchange="format(this)" ></td>
                                     <td width="20%"><input type="number"  value="0" class="form-control" id="abonoLiquidado{{$index}}"   onchange="format(this)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-4">
                              <p style="font-weight: 900">Datos del Cliente</p>
                                <small>Telefono:</small>
                                                    <input type="number"  class="form-control" ng-model="vm.Cliente.telefono">
                                                    <br><small>Nombre:</small>
                                                    <input type="text"  class="form-control" ng-model="vm.Cliente.nombre">
                                                  
                    </div>
                      
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" ng-click="vm.reservar();"><i class="fa fa-cloud-upload"></i> Registrar Reserva</button>
        </div>
    </div>
</div>
</div>

<div class="modal inmodal" id="consult_reserva" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInUp">
            <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title">Detalle de Reserva</h4>
                                            <small>Toda la informacion relacionada con la reserva</small>
                                        </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Información del cliente</h3>
                        <div class="feed-element">
                        <a class="pull-left">
                           <img src="images/profile-user.png" alt="" class="img-circle animated bounceIn ng-scope" width="100%" height="100%">
                        </a>
                        <div class="media-body ">
                            <strong style="text-transform: uppercase" class="ng-binding">{{vm.v_cliente.nombres}}</strong>
                            <p><strong class="ng-binding"><i class="fa fa-phone"></i> {{vm.v_cliente.telefono}}</strong></p>
                        </div>
                      <table class="table">
                        <thead>
                            <tr><th style="text-align: center;"><small class="text-muted">Cumplidas</small></th>
                            <th style="text-align: center;"><small class="text-muted">Incumplidas</small></th>
                            <th style="text-align: center;"><small class="text-muted">Canceladas</small></th>
                        </tr></thead>
                        <tbody><tr>
                            <td style="text-align: center;"><span class="label label-danger" style=" font-size:16px;">{{vm.v_estadisticas.cumplidas}}</span></td>
                            <td style="text-align: center;"><span class="label label-danger" style=" font-size:16px;">{{vm.v_estadisticas.incumplidas}}</span></td>
                            <td style="text-align: center;"><span class="label label-danger" style=" font-size:16px;">{{vm.v_estadisticas.canceladas}}</span></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <h3>Información de reserva</h3>
                        <p> <strong>Cancha:</strong> {{vm.v_reserva.cancha}}</p>
                        <p><i class="fa fa-calendar"></i> <span class="label label-danger">{{vm.v_reserva.fecha}}</span></p>
                        <p><i class="fa fa-clock-o"></i> <strong> <label class='label label-success'> {{vm.v_reserva.hora}} : 00</label></strong></p>
                        <p ng-if="vm.v_reserva.estado === 'confirmadasinabono'"><span class="label label-danger">CONFIRMADA SIN ABONO</span></p>
                        <p ng-if="vm.v_reserva.estado === 'confirmadaconabono'"><span class="label label-primary">CONFIRMADA CON ABONO</span></p>
                        <p ng-if="vm.v_reserva.estado === 'cumplida'"><span class="label label-success">CUMPLIDA</span></p>
                        <p ng-if="vm.v_reserva.estado === 'incumplida'"><span class="label label-default">INCUMPLIDA</span></p>
                        <p ng-if="vm.v_reserva.estado === 'cancelada'"><span class="label label-default">CANCELADA</span></p>
                    </div>
                    <div class="col-md-4">
                        <h3>Información de financiera</h3>
                        <p><stron>Valor:</stron> {{vm.v_reserva.precio | currency:undefined:0}}</p>
                        <p><stron>Abono Requerido:</stron> {{vm.v_reserva.abonoRequerido |currency:undefined:0}}</p>
                    <p><stron>Abono Liquidado:</stron> {{vm.v_reserva.abonoLiquidado | currency:undefined:0}}</p>
                    </div>
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
</div>


