<div class="row  border-bottom white-bg page-heading" ng-init="vm.getCanchas();">
    

    <div class="row">
        <div class="col-xs-3">
            <h2>Rerservar</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="app.home">Inicio</a>
                </li>
                <li class="active">
                    <strong>Reservar</strong>
                </li>
            </ol>
        </div>
        <div class="col-xs-1" style="text-align: right">
            <div class="spacer" style="height:10px;"></div>

            <button type="button" class="btn btn-primary" ng-click="vm.moveToFecha('-')"><i class="fa fa-chevron-left"></i></button> 
        </div>
        <div class="col-xs-5">
            <div class="spacer" style="height:10px;"></div>

            <div class="input-group">
                <span class="input-group-btn"> 
                    <button type="button" class="btn btn-primary"><i class="fa fa-calendar"></i></button> 
                </span>
                <input type="date" id="fechaReserva" class="form-control" ng-model="vm.fecha" ng-change="vm.showAgendaDiaByCancha()">
                <span class="input-group-btn"> 
                    <button type="button" class="btn btn-primary">  {{vm.diaSemana}}</button> 
                </span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="spacer" style="height:10px;"></div>
            <button type="button" class="btn btn-primary" ng-click="vm.moveToFecha('+')"><i class="fa fa-chevron-right"></i></button> 
        </div>
        <div class="col-xs-2" style="text-align: right">
              <div class="spacer" style="height:10px;"></div>
              <button type="button" class="btn btn-success" ng-click="vm.showReservaRecurrente()"><i class="fa fa-calendar"></i> Reserva Recurrente</button> 
        </div>
    </div>
    <hr class="hr-line-dashed" style="padding: 0;margin: 0;margin-top:10px;">
    <div class="wrapper-content" style="padding-top: 0;">
        <div class="row" id="canchas">

        </div>
    </div>

    <div class="theme-config" style="position: absolute;right: -20px;">
        <div class="theme-config-box show">
            <div class="spin-icon">

                <i class="fa fa-cogs fa-spin"></i> 
            </div>
            <div class="skin-settings">
                <div class="title">
                    <span ng-if="vm.reservaMover.existe == false">Reservación</span>
                    <span ng-if="vm.reservaMover.existe == true">Actualizando Reserva</span>
                    <span class="badge badge-danger" ng-if="vm.reservaMover.existe == false">{{vm.RESERVA.length}}</span></div>
                <div class="setings-item" ng-if="vm.RESERVA.length == 0" style="text-align: center;">
                    <i class="fa fa-eye-slash ico-bg"></i>
                    <h4 class="vacio-text">No se han cargado reservas</h4>
                </div>
                <div ng-if="vm.RESERVA.length > 0">
                    <div style="max-height:450px;overflow-y: auto;">
                        <div class="setings-item" style="text-align: center;" ng-if="vm.reservaMover.existe == true">
                        <small>
                            Seleccione nueva fecha y hora de reserva..
                        </small>
                        </div>
                        <li ng-repeat="item in vm.RESERVA" class="list-group-item">
                            <span class="pull-right badge">{{item.hora}}:00</span>
                            {{item.nombreCancha}}<br>
                            <strong>{{item.diaSemana}}- {{item.fecha}}</strong><br>
                            <strong>Precio:</strong> {{item.precio | currency:undefined:0}}
                        </li>
                    </div>
                    <button class="btn btn-primary" style="width: 100%;" onclick="$('#reserva').modal('show')" ng-if="vm.reservaMover.existe == false">
                        EFECTUAR RESERVA
                    </button>
                    <button class="btn btn-danger" style="width: 100%;" ng-click="vm.cancelarActualizacion();" ng-if="vm.reservaMover.existe == true">
                        CANCELAR ACTUALIZACIÓN
                    </button>
                    <button class="btn btn-warning" style="width: 100%;" onclick="$('#reserva').modal('show')" ng-if="vm.reservaMover.existe == true">
                        ACTUALIZAR RESERVA
                    </button>
                </div>



            </div>
        </div>
    </div>
</div>



<div class="modal inmodal" id="reserva" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:90%;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Registro de Reserva</h4>
                <small>Termina de digilenciar la información para registrarla.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <table class="table table-striped">
                            <thead>
                            <th>Cancha</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Precio</th>
                            <th>Abono requerido</th>

                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.RESERVA">
                                    <td>
                                        {{item.nombreCancha}}
                                    </td>
                                    <td>
                                        {{item.fecha}} - {{item.diaSemana}}
                                    </td>
                                    <td>
                                        {{item.hora}}:00
                                    </td>
                                    <td width="20%"><input type="text"  class="form-control" id="precio{{$index}}"  onchange="format(this)"  value="{{item.precio}}" ></td>
                                    <td width="20%"><input type="number"  value="0" class="form-control" id="abonoRequerido{{$index}}"  onchange="format(this)" ></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-4">
                        <p style="font-weight: 900">Datos del Cliente</p>
                        <small>Telefono:</small>
                        <input type="text"  class="form-control" ng-model="vm.Cliente.telefono" ng-blur="vm.getCliente();">
                        <div ng-if='vm.Cliente.existe === false'>
                            <small>Nombre:</small>
                            <input type="text"  class="form-control" ng-model="vm.Cliente.nombre">
                            <small>Reseña de cliente:</small>
                            <textarea class="form-control" ng-model="vm.Cliente.resenia">
                                
                            </textarea>
                        </div>
                                                    
                     <div class="feed-element"  ng-if='vm.Cliente.existe === true'>
                        <a class="pull-left">
                           <img src="images/profile-user.png" alt="" class="img-circle animated bounceIn ng-scope" width="100%" height="100%">
                        </a>
                        <div class="media-body ">
                            <strong style="text-transform: uppercase">{{vm.Cliente.nombres}} {{vm.Cliente.apellidos}}</strong>
                            <p><strong><i class="fa fa-phone"></i> {{vm.Cliente.telefono}}</strong></p>
                        </div>
                      <table class="table">
                        <thead>
                            <tr><th style="text-align: center;"><small class="text-muted">Cumplidas</small></th>
                            <th style="text-align: center;"><small class="text-muted">Incumplidas</small></th>
                            <th style="text-align: center;"><small class="text-muted">Canceladas</small></th>
                        </tr></thead>
                        <tbody><tr>
                            <td style="text-align: center;"><span class="label label-danger" style=" font-size:16px;">{{vm.Cliente.cumplidas}}</span></td>
                            <td style="text-align: center;"><span class="label label-danger" style=" font-size:16px;">{{vm.Cliente.incumplidas}}</span></td>
                            <td style="text-align: center;"><span class="label label-danger" style=" font-size:16px;">{{vm.Cliente.canceladas}}</span></td>
                        </tr>
                        </tbody>
                      </table>
                          <label>Reseña del cliente:</label>
                         <textarea class="form-control" ng-model="vm.Cliente.resenia">
                                
                        </textarea>
                    </div>
                     
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="vm.reservar();" id="reservar"  ng-if="vm.reservaMover.existe == false"><i class="fa fa-cloud-upload"></i> Registrar Reserva</button>
                <button type="button" class="btn btn-danger" ng-click="vm.actualizarReserva();" id="actualizar"  ng-if="vm.reservaMover.existe == true"><i class="fa fa-refresh"></i> Actualizar Reserva</button>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="modalReservaRecurrente" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:96%;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Registro de Reserva recurrente</h4>
                <small>Digilencia la información para registrarla.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-2">
                                <label>Dia:</label>
                                <select class="form-control" ng-model='vm.r_recurrente.dia' >
                                    <option ng-repeat="i in vm.dias" value="{{$index}}" ng-if='i !== "" '>{{i}}</option>
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <label>Hora:</label>
                                <select class="form-control" ng-model='vm.r_recurrente.hora'>
                                    <option ng-repeat="i in vm.horas" value="{{i}}">{{i}}:00</option>
                                </select>
                            </div>
                            <div class='col-lg-5'>
                                <div class='row'>
                                    <div class='col-xs-6'>
                                    <label>fecha Inicio:</label>
                                <input type='date' class='form-control' ng-model='vm.r_recurrente.fechaIni'>
                                </div>
                                    <div class='col-xs-6'>
                                     <label>fecha Fin:</label>
                                <input type='date' class='form-control' ng-model='vm.r_recurrente.fechaFin'>
                                </div>
                                </div>
       
                            </div>
                            <div class='col-lg-2'>
                                <label>Cancha:</label>
                                <select class="form-control" ng-model='vm.r_recurrente.cancha'>
                                    <option ng-repeat="i in vm.Canchas" value="{{i.id}}">{{i.nombre}}</option>
                                </select>
                         
                            </div>
                            <div class="col-lg-1">
                                  <button class="btn btn-success" style="margin-top:23px;" ng-click="vm.calcular_reservas_recurrentes();"><i class="fa fa-check"></i></button>
                            </div>
                        </div>
                        <hr class="hr-line-dashed">
                        <table class="table table-striped" style="margin-top:10px;">
                            <thead>
                            <th>Cancha</th>
                            <th>Fechas</th>
                            <th>Hora</th>
                            <th>Precio</th>
                            <th>Abono requerido</th>

                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.r_reservas_recurrente">
                                    <td>
                                        {{item.nombreCancha}}
                                    </td>
                                    <td>
                                        {{item.fecha}} - {{item.diaSemana}}
                                    </td>
                                    <td>
                                        {{item.hora}}:00
                                    </td>
                                    <td width="20%"><input type="text"  class="form-control" id="precio{{$index}}"  onchange="format(this)"  value="{{item.precio}}" ></td>
                                    <td width="20%"><input type="number"  value="0" class="form-control" id="abonoRequerido{{$index}}"  onchange="format(this)" ></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-3 contet-form">
                        <p style="font-weight: 900">Datos del Cliente</p>
                        <small>Telefono:</small>
                        <input type="text"  class="form-control" ng-model="vm.Cliente.telefono" ng-blur="vm.getCliente();">
                        <div ng-if='vm.Cliente.existe === false'>
                            <small>Nombre:</small>
                            <input type="text"  class="form-control" ng-model="vm.Cliente.nombre">
                            <br>
                            <small>Reseña de cliente:</small>
                            <textarea class="form-control" ng-model="vm.Cliente.resenia">
                                
                            </textarea>
                        </div>
                                                    
                     <div class="feed-element"  ng-if='vm.Cliente.existe === true'>
                        <a class="pull-left">
                           <img src="images/profile-user.png" alt="" class="img-circle animated bounceIn ng-scope" width="100%" height="100%">
                        </a>
                        <div class="media-body ">
                            <strong style="text-transform: uppercase">{{vm.Cliente.nombres}} {{vm.Cliente.apellidos}}</strong>
                            <p><strong><i class="fa fa-phone"></i> {{vm.Cliente.telefono}}</strong></p>
                        </div>
                      <table class="table">
                        <thead>
                            <tr><th style="text-align: center;"><small class="text-muted">Cumplidas</small></th>
                            <th style="text-align: center;"><small class="text-muted">Incumplidas</small></th>
                            <th style="text-align: center;"><small class="text-muted">Canceladas</small></th>
                        </tr></thead>
                        <tbody><tr>
                            <td style="text-align: center;"><span class="label label-danger" style=" font-size:16px;">{{vm.Cliente.cumplidas}}</span></td>
                            <td style="text-align: center;"><span class="label label-danger" style=" font-size:16px;">{{vm.Cliente.incumplidas}}</span></td>
                            <td style="text-align: center;"><span class="label label-danger" style=" font-size:16px;">{{vm.Cliente.canceladas}}</span></td>
                        </tr>
                        </tbody>
                      </table>
                         <label>Reseña del cliente:</label>
                         <textarea class="form-control" ng-model="vm.Cliente.resenia">
                                
                        </textarea>
                    </div>
                     
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="vm.reservar_recurrente();" id="reservar_recurrente"><i class="fa fa-cloud-upload"></i> Registrar Reserva</button>
            </div>
        </div>
    </div>
</div>
<div ng-include="'view/includes/modalReserva.html'">
</div>
