<ul class="nav metismenu" id="side-menu" ng-controller="MenuController as menu" ng-init="menu.getSitio()">
                    <li class="nav-header">
                        <div class="dropdown profile-element " style='text-align:center;'>
                            <span>
                        <div class='img-wrap'>
                         <img alt="image Sitio" id="profile" class="img-circle" src="images/profile-sitio.png" style="width:90px;"/>
                        </div>
                        </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                                <span class="clear"> 
                                    <span class="block m-t-xs"> <strong class="font-bold">{{menu.sitio.nombre}}</strong>     
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">
                            B
                        </div>
                    </li>
                    <li ng-class="{active : menu.isActive ('/')}">
                        <a ui-sref="app.home"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
                    </li>
                    <li class="subtitule">
                        <label>RESERVAS</label>
                    </li>
                    <li ng-class="{active : menu.isActive ('/reserve')}">
                        <a  ui-sref="app.reserve"><i class="fa fa-soccer-ball-o"></i> <span class="nav-label">Reservar</span></a>
                    </li>
                    <li>
                        <a ui-sref="reservas.gestion"><i class="fa fa-calendar"></i> <span class="nav-label">Gestion de Reservas</span></a>
                    </li>
                    <li>
                        <a ui-sref="app.historial"><i class="fa fa-history"></i> <span class="nav-label">Historial de Reservas</span></a>
                    </li>
                    <li class="subtitule">
                        <label>UTILIDADES</label>
                    </li>
                    <li>
                        <a ui-sref="app.inventario"><i class="fa fa-exchange"></i> <span class="nav-label">Inventario</span></a>
                    </li>
                    <li ng-class="{active : menu.isActive ('/canchas')}">
                        <a ui-sref="app.canchas"><i class="fa" style="margin-left:-2px;"><img src="fonts/cancha.svg" alt="C" title="C" style="width:18px;" /></i> <span class="nav-label" style="margin-left:-3px">Canchas</span></a>
                    </li>
                    <li ng-class="{active : menu.isActive ('/settings')}">
                        <a ui-sref="app.settings"><i class="fa fa-cog"></i> <span class="nav-label">Configuración</span></a>
                    </li>
                </ul>