<div id="wrapper" class="bg-menu">
        <nav class="navbar-default navbar-static-side" role="navigation" >
                <div style="position: absolute;top:0px;right: 0px;z-index:3000">
                    <a class="btn" href="javascript:;" onClick="menu()"><i class="fa fa-bars" style="color:#FFF;"></i> </a>
                </div>
            <div class="sidebar-collapse" ng-include="'view/menu/menu.html'">
             
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="animated fadeInRight" ui-view="" id="container">

            </div>
            <div class="footer" ng-controller="HomeController as vm">
                <div class="pull-right">
                    Sitio {{vm.sitio.nombre}} by <img alt="Birrias" id="profile" src="images/logo_min.png" style="width:20px;" /> <strong>Birrias para Negocios</strong> V.1.0
                </div>
                <div>
                    <strong>Copyright</strong> Birrias soccer &copy; 2017
                </div>
            </div>
        </div>
    </div>
