<div class="modal inmodal" id="consult_reserva" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInUp">
            <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title">Detalle de Reserva</h4>
                                            <small>Toda la informacion relacionada con la reserva</small>
                                        </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Información del cliente</h3>
                        <div class="feed-element">
                        <a class="pull-left">
                           <img src="images/profile-user.png" alt="" class="img-circle animated bounceIn ng-scope" width="100%" height="100%">
                        </a>
                        <div class="media-body ">
                            <strong style="text-transform: uppercase" class="ng-binding">{{vm.v_cliente.nombres}} {{vm.v_cliente.apellidos}}</strong>
                            <p><strong class="ng-binding"><i class="fa fa-phone"></i> {{vm.v_cliente.telefono}}</strong></p>
                        </div>
                      <table class="table">
                        <thead>
                            <tr><th style="text-align: center;"><small class="text-muted">Cumplidas</small></th>
                            <th style="text-align: center;"><small class="text-muted">Incumplidas</small></th>
                            <th style="text-align: center;"><small class="text-muted">Canceladas</small></th>
                        </tr></thead>
                        <tbody><tr>
                            <td style="text-align: center;"><span class="label label-danger" style=" font-size:16px;">{{vm.v_cliente.cumplidas}}</span></td>
                            <td style="text-align: center;"><span class="label label-danger" style=" font-size:16px;">{{vm.v_cliente.incumplidas}}</span></td>
                            <td style="text-align: center;"><span class="label label-danger" style=" font-size:16px;">{{vm.v_cliente.canceladas}}</span></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <h3>Información de reserva</h3>
                         <p><strong>Via:</strong> {{vm.v_reserva.via}}</p>
                        <p> <strong>Cancha:</strong> {{vm.v_reserva.cancha}}</p>
                        <p><i class="fa fa-calendar"></i> <span class="label label-danger">{{vm.v_reserva.fecha}}</span></p>
                        <p><i class="fa fa-clock-o"></i> <strong> <label class='label label-success'> {{vm.v_reserva.hora}} : 00</label></strong></p>
                       <p ng-if="vm.v_reserva.estado === 'esperandorevision'"><span class="label label-danger" id="alert">ESPERANDO REVISION</span></p>
                        <p ng-if="vm.v_reserva.estado === 'confirmadasinabono'"><span class="label label-danger">CONFIRMADA SIN ABONO</span></p>
                        <p ng-if="vm.v_reserva.estado === 'confirmadaconabono'"><span class="label label-primary">CONFIRMADA CON ABONO</span></p>
                        <p ng-if="vm.v_reserva.estado === 'cumplida'"><span class="label label-success">CUMPLIDA</span></p>
                        <p ng-if="vm.v_reserva.estado === 'incumplida'"><span class="label label-default">INCUMPLIDA</span></p>
                        <p ng-if="vm.v_reserva.estado === 'cancelada'"><span class="label label-default">CANCELADA</span></p>
                    </div>
                    <div class="col-md-4">
                        <h3>Información de financiera</h3>
                        <p><strong>Valor:</strong> {{vm.v_reserva.precio | currency:undefined:0}}</p>
                        <p><strong>Abono Requerido:</strong> {{vm.v_reserva.abonoRequerido |currency:undefined:0}}</p>
                        <p><strong>Abono Liquidado:</strong> {{vm.v_reserva.abonoLiquidado | currency:undefined:0}}</p>
                        <p><strong>Valor Pagado:</strong> {{vm.v_reserva.pago | currency:undefined:0}}</p>
                    </div>
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
</div>

