 <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">Olvidaste tu contraseña?</h2>

                    <p>
                        No te preocupes a cualquiera le puede pasar.
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="index.html">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Ingresa tu email registrado" required="">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">Enviar Contraseña</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
       <div class="row" style="color:#FFF">
            <div class="col-md-6">
                <a href="../index.html" style="color:#fff;text-shadow: 1px 0px 1px #000"> Birrias Soccer</a>
            </div>
            <div class="col-md-6 text-right">
               <small>©2016</small>
            </div>
        </div>recorte
    </div>