<div style="width: 100%; height:100%">
     <br><br>
    <div class="loginColumns animated fadeInDown">
          <div class="ibox-content z-depth">
              <div class="animated bounceIn" style="text-align: center;margin-top: -130px;">
                <img src="images/logo.png" alt="" style="width: 40%"/>
            </div>
        <div class="row">
            <div class="col-md-12" style="color:#E34145">
                <h2 class="font-bold">Terminos y condiciones de uso de Birrias para negocios</h2>
                <p style="text-align: justify">
                   Esta declaración de derechos y responsabilidades ("Declaración", "Condiciones" o "DDR") tiene su origen en los principios de Birrias y contiene las condiciones del servicio que rigen nuestra relación con los usuarios y con todos aquellos que interactúan con Birrias, así como las marcas, los productos y los servicios de Birrias, que reciben el nombre de "Servicios de Birrias" o "Servicios". Al usar los Servicios de Birrias o al acceder a ellos, muestras tu conformidad con esta Declaración, que se actualiza periódicamente.
                </p>
                <p>
                    <span class="font-bold"> 1. Quienes pueden usar birrias para negocios?</span><br>
                   Birrias esta dirigido para todos los establecimientos privados o estatales que brindan el servicio de alquiler de canchas sintéticas.
                </p>
                <p>
                    <span class="font-bold"> 2. Privacidad</span><br>
                    Tu privacidad es muy importante para nosotros. La información que registres en nuestra plataforma es completamente privada, lo único que verán tus clientes sera la información relevante para realizar las reservas en tus canchas. 
                </p>
                <p>
                    <span class="font-bold"> 3. Términos y condiciones</span><br>
                    Birrias puede modificar los términos y condiciones,<strong> no sin antes notificarle a sus clientes. </strong>
                </p>
            </div>
            <div class="col-lg-8">
                 <p class="m-t"><img src="images/logo_min.png" style="width:25px" alt=""/>&nbsp;<small>Birrias Soccer para negocios &copy; 2017</small> </p>
            </div>
            <div class="col-lg-4" style="text-align: right">
                <br>
                <a ui-sref="registre" class="btn btn-success">Registrarme</a>
            </div>
        </div>
        </div>
    </div>
    </div>