<div class="row white-bg page-heading" ng-init="vm.getReservas();">
    <div class='row'> 
    <div class='col-md-3'>
         <div class="spacer" style="height:5px;"></div>
               <small>Desde:</small>
        <div class="input-group">
         <span class="input-group-btn"> 
                    <button type="button" class="btn btn-primary"><i class="fa fa-calendar"></i></button> 
                </span>
                <input type="date" id="fechaReserva1" class="form-control" ng-model="vm.fecha1">
        </div>
    </div>
    <div class='col-md-3'>
         <div class="spacer" style="height:5px;"></div>
         <small>hasta:</small>
        <div class="input-group">
         <span class="input-group-btn"> 
                    <button type="button" class="btn btn-primary"><i class="fa fa-calendar"></i></button> 
                </span>
                <input type="date" id="fechaReserva1" class="form-control" ng-model="vm.fecha2">
        </div>
    </div>
    <div class='col-md-2'>
        <div class="spacer" style="height:23px;"></div>
        <button class='btn btn-success' ng-click="vm.getReservas()"><i class='fa fa-search'></i> Consultar</button>
    </div>
        <div class="col-md-4">
            <div class="spacer" style="height: 25px;"></div>
            <div class="input-group"><input type="text" placeholder="Buscar" class="input-sm form-control ng-pristine ng-valid ng-touched" ng-model="filtro"> 
              <span class="input-group-btn">
          <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> 
              </span>
          </div>
        </div>
    </div>    
    
    <hr class="hr-line-dashed">
                    <div class="row">
                        <div class="col-md-9">
                      <table class="table table-striped table-hover">
                        <thead>
                        <th></th>
                        <th>Cancha</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Via</th>
                        <th>Usuario</th>
                        <th>Cliente</th>
                        <th>Precio</th>
                        <th>Pag&oacute</th>
                       
                        <th>Abono Liquidado</th>
                        <th>Estado</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat='item in vm.reservas | filter:filtro' ng-click="vm.viewReserva(item)" style='cursor:pointer'>
                                
                                     <td>{{$index + 1 }}</td>
                    <td>{{item.nombrecancha }}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.hora}}:00</td>
                    <td>{{item.via}}</td>
                    <td>{{item.usuario}}</td>
                    <td class="small">{{item.nombres}} {{item.apellidos}}</td>
                    <td class="text-navy">{{item.precio | currency:undefined:0}}</td>
                    <td class="text-success">{{item.pago | currency:undefined:0}}</td>
                  
                    <td class="text-success" ng-if="item.abonoLiquidado > 0"><i class="fa fa-level-up"></i> {{item.abonoLiquidado | currency:undefined:0}}</td>
                    <td class="text-danger" ng-if="item.abonoLiquidado == 0"><i class="fa fa-level-down"></i> {{item.abonoLiquidado | currency:undefined:0}}</td>
                    <td>
                        <label ng-if="item.estado == 'esperandorevision'" class="label label-danger" id="alert">Esperando revision</label>
                        <label ng-if="item.estado == 'cumplida'" class="label label-success">Cumplida</label>
                        <label ng-if="item.estado == 'incumplida'" class="label label-warning">Incumplida</label>
                        <label ng-if="item.estado == 'cancelada'" class="label label-danger">Cancelada</label>
                        <label ng-if="item.estado == 'confirmadaconabono'" class="label label-primary">Confirmada con abono</label>
                        <label ng-if="item.estado == 'confirmadasinabono'" class="label label-info">Confirmada sin abono</label>
                    </td>
                            </tr>
                        </tbody>
                    </table>
                             <div class="row" ng-if="vm.reservas.length === 0">
                        <div class="col-lg-12" style="text-align: center;">
                            <div class="bg-vacio"></div>
                            <h2 class="vacio-text">No hay Información es en estas fechas</h2>
                        </div>
                    </div>

                        </div>
                        <div class="col-md-3">
                             <div style='text-align: center;'>
                            <div id="chart_reservas"></div>
                             </div>
                             
                                <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Ingresos</h5>
            </div>
                            <div class="ibox-content"  >
                                <div class="row">
                                <div class="col-xs-6">
                                <h4>{{vm.finanzas.realidad | currency:undefined:0}}</h4>
                                <small class="stats-label">Reservas</small>
                                 </div>
                                <div class="col-xs-6">
                                <h4>{{vm.finanzas.abonos | currency:undefined:0}}</h4>
                                <small class="stats-label">Abonos</small>
                                 </div>
                                </div>
                                <br>
                             <div>
                                <h1 class="no-margins text-success">{{vm.finanzas.abonos + vm.finanzas.realidad | currency:undefined:0}}</h1>
                                <small>Total Ingresos</small>
                             </div>
                            </div>
                    </div>
                    
                        </div>
                    </div>
    
</div>

<div ng-include="'view/includes/modalReserva.html'">
    
</div>



