<div class="row  border-bottom white-bg page-heading" ng-controller="CanchaController as vm">
    <div class="col-x6-3">
        <h2>Canchas</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="app.home">Dashboard</a>
            </li>
            <li>
                <a ui-sref="app.canchas">Canchas</a>
            </li>
            <li class="active">
                <strong>Registrar</strong>
            </li>
        </ol>
    </div>
    <div class="col-xs-9">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registro de Cancha</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">

                                <label>Nombre:</label>
                                <input type="text" placeholder="Nombre de Cancha" class="form-control input-sm" ng-model="vm.Cancha.nombre">

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label>Que medidas tiene?</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <small>Largo (M)</small>
                                        <input type="number" class="form-control input-sm" ng-model="vm.Cancha.largo">
                                    </div>
                                    <div class="col-xs-6">
                                        <small>Ancho (M)</small>
                                        <input type="number" class="form-control input-sm" ng-model="vm.Cancha.ancho">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <label>Tiene techo?</label>

                                <select class="form-control input-sm" name="account" ng-model="vm.Cancha.techo">
                                <option value="0"  selected="selected">NO</option>
                                     <option value="1">SI</option>
                            </select>

                            </div>
                            <div class="form-group">
                                <label>Numero de jugadores sugeridos por equipo:</label>
                                <input type="number" class="form-control input-sm" ng-model="vm.Cancha.numeroJugadores">
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <label>Subir foto de la cancha:</label>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-default btn-file"><span class="fileinput-new">Seleccionar Foto</span>
                                <span class="fileinput-exists">Cambiar</span><input type="file" uploader-model="vm.Cancha.imagen" name="images" id="files" /></span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div>
                            <div id="image">
                                <div class="row">
                                    <div class="col-lg-12" style="text-align: center;padding-top:50px;">
                                        <i class="fa fa-image ico-bg"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-lg-6" style="text-align: right">
                            <button class="btn btn-primary" ng-click="vm.guardar();" id="registro"><i class="fa fa-cloud-upload"></i> Registrar</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
