<div class="row border-bottom white-bg page-heading" ng-init="vm.getClientes();">
  <div class="row ">
    <div class="col-xs-6">
        <h2>Mis clientes</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="app.home">Inicio</a>
            </li>
            <li class="active">
                <strong>Clientes</strong>
            </li>
        </ol>
    </div>
    <div class="col-xs-6">
        <div class="espacer" style="height:20px;"></div>
    </div>
  </div>
 <hr class="hr-line-dashed">
    <div class="row">
        <div class="col-xs-12">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombres</th>  
                                <th>Telefono</th>
                                <th>Reservas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="i in vm.Clientes | orderBy:'nombres'">
                                <td>{{$index + 1}}</td>
                                <td>{{i.nombres}} {{i.apellidos}}</td>
                                <td>{{i.telefono}}</td>
                                <td>{{i.cantidadReservas}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
</div> 